body {
    overflow-y: scroll;
    padding-left: 0px !important;
}

.header {
    margin: 0px;
    border: 0px;
    padding: 1px;
    height: 120px;
    background: -ms-linear-gradient(top, #808080, #FFFFFF); /* IE 10 */
    background: -moz-linear-gradient(top, #808080, #FFFFFF); /*火狐*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#808080), to(#FFFFFF));
    background: -webkit-linear-gradient(top, #808080, #FFFFFF); /*Safari5.1 Chrome 10+*/
    background: -o-linear-gradient(top, #808080, #FFFFFF); /*Opera 11.10+*/
}

.menu {
    margin: auto;
    border: 0px;
    padding: 1px;
    height: 55px;
    width: 1200px;
}

.content {
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    padding: 1px;
    width: 1200px;
}

.proset {
    height: auto;
}

.footer {
    height: 50px;
    background: -ms-linear-gradient(top, #FFFFFF, #474747); /* IE 10 */
    background: -moz-linear-gradient(top, #FFFFFF, #474747); /*火狐*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#474747));
    background: -webkit-linear-gradient(top, #FFFFFF, #474747); /*Safari5.1 Chrome 10+*/
    background: -o-linear-gradient(top, #FFFFFF, #474747); /*Opera 11.10+*/
}

.rights {
    padding-top: 15px;
    text-align: center;
}

#detailHeading, #detailTitle, #detailMoney, #moneyin, #moneyout {
    display: inline-block;
}

#detailTitle {
    text-align: center;
    height: 34px;
    line-height: 34px;
    font-size: 20px;
}

#detailMoney {
    height: 34px;
    line-height: 34px;
    font-size: 13px;
}

#moneyin {
    color: green;
}

#moneyout {
    color: red;
}

.noDataInfo {
    text-align: center;
    font-size: 14px;
    color:blue;
}