<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pfms.dao.mybatis.dao.CustPfmsUsageTwoMapper">

    <select id="getAddResultByFatherId" parameterType="java.lang.String" resultType="java.math.BigDecimal">
        select sum(MONTHBUDGET) from pfmsdb_usage2 where FATHER_ID = #{fatherId,jdbcType=VARCHAR}
    </select>

</mapper>